body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	background: #89c0ff;
	padding: 0;
	margin: 0;
}

nav.navbar {
	top: 0;
	background: white;
	color: black;
	height: 35px;
	text-align: center;
	padding-top: 15px;
	margin-bottom: 15px;
}

nav li {
	list-style: none;
	display: inline;
}

div.feed {
	width: 600px;
	margin: auto;
	background: white;
	border-radius: 10px;
	cursor: pointer;
}

.tweet {
	line-height: 1.5em;
	padding: 15px;
	border-bottom: 1px solid #e1e1e1;
}

/* contact */

textarea {
	resize: none;
}

#contact { 
	background: #e3e3e3; 
	padding: 1em 1.5em; 
	position: relative;
}
.js #contact {
	position: absolute;
	top: 30%;
	left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
	width: inherit;
	display: none;
	margin: auto;
	border-radius: 10px;
	border: 1px solid #bababa;
	color: #7b7b7b;
}	
#contact h2 { margin-top: 0; }
#contact ul { padding: 0; }
#contact li { 
	list-style: none;
	margin-bottom: 1em;
}
/* Close button on form */
.close {
	position: absolute;
	right: 20px;
	top: 20px;
	font-weight: bold;
	font-family: sans-serif;
	cursor: pointer;
}	
/* Form inputs */
input, textarea { width: 100%; line-height: 2em;}
input[type=submit] { width: auto;  }
label { display: block; text-align: left; }